<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/Quiz/img/logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= quiz.quizName %></title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="/Common/css/bootstrap5.1.3.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="/Common/css/material-dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Quiz/css/styles.css">
</head>
<body class='snippet-body'>
    <input id="quizId" name="quizId" value="<%= quizId %>" hidden/>
    <input id="submissionId" name="submissionId" value="<%= submission._id %>" hidden/>
    <div class="wrapper ">
        <div class="main-panel">
            <nav class="nbar">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/"><h1 class="heading">OnlineProctorE</h1></a>
                    </div>
                    <div class="col-sm-6 nav-name">
                        <div class="info">
                            <table class="info-tab">
                                <tr>
                                    <td>
                                        <span class="start">Username:</span> <%= submission.user.username.toUpperCase() %> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="start">Course:</span> <%= quiz.course.courseName %> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="start">Time Remaining:</span> <span id="hours"></span><span id="mins"></span><span id="secs"></span><span id="end"></span><br>
                                    </td>
                                </tr>
                            </table>
                            <table class="right-tab">
                                <tr>
                                    <td>
                                        <a class="btn btn-primary" data-toggle="modal" data-target="#modal1" href="#">Instructions</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger submit">Submit</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="content" id="quizInstructionsDiv">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="modal-content card">
                            <div class="card-header card-header-green">
                                <h4 class="modal-title" style="font-size: 1.5rem;"><b>Instructions</b></h4>
                                <hr>
                                <h5 style="float: right; font-size: 1rem;">Please follow the given instructions</h5>
                            </div>
                            <div class="modal-body">
                                <p style="padding-bottom: 10px">1. Please Wait 1-2 minutes (depending upon your internet connection and system hardware capabilities) as it may take time to load the models.</p>
                                <p style="padding-bottom: 10px">2. You have to allow both Camera and Microphone to continue to give the test.</p>
                                <p style="padding-bottom: 10px">3. You have to share your entire screen and enable the <b>"share system audio"</b> checkbox.</p>
                                <p style="padding-bottom: 10px">4. Do not change Tab or Browser while giving the test.</p>
                                <p style="padding-bottom: 10px">5. Do not speak or leave your seat while giving the test.</p>
                                <p style="padding-bottom: 10px">6. Do not copy paste answers from your friends or any other publicly available sources.</p>
                                <p style="padding-bottom: 10px">7. Do not use Mobile phones.</p>
                                <span class="pull-right start timer">
                                    <span id="quiz-start-time">10</span> <br>
                                    <button type="button" id="start-the-test" class="btn btn-primary pull-right" onclick="startTest()" disabled>Start Test</button>
                                </span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="content none" id="quizQuestionsDiv">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 side">
                            <div class="side-card-nav" id="navigationBar">
                                <div class="panel panel-default ">
                                    <div class="panel-body">
                                        <ul class="pagination test-questions" id="navigator">
                                        </ul>
                                    </div>
                                </div>        
                            </div>
                        </div>
                        <div class="col-lg-9 quiz quiz-card">
                            <div id="addQuestions">
                            </div>
                            <div class="butn">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <button id="previous" class="btn btn-danger prev-btn prev disable" type="button">Previous</button>
                                    </div>
                                    <div class="col-sm-4">
                                        <button id="markForReview" class="btn btn-purple rev-btn mark disable" type="button">Mark For Review</button>
                                    </div>
                                    <div class="col-sm-4">
                                        <button id="saveAndNext" class="btn btn-primary save-btn btn-save-answer next disable" type="button">Save and Next</button>
                                        <button id="uploadPDF" class="btn btn-primary save-btn btn-save-answer next disable none" onclick="displayUploadPDFDiv()" type="button">Upload PDF</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 side side-card2" >
                            <div>
                                <div class="col-self">
                                    <div style="text-align: center;">
                                        <table class="mtable">
                                            <tr>
                                                <td>
                                                    Maximum Marks: 
                                                </td>
                                                <td id="mm">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Negative Marks: 
                                                </td>
                                                <td id="nm">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Partial Marking: 
                                                </td>
                                                <td id="pm">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-lg-12 col-sm-6" style="float: left;">
                                        <div class="side-card-video" style="float: left;">
                                            <video id="video" height="100%" width="100%" autoplay muted></video>
                                            <canvas id="canvas" width="800" height="680" hidden></canvas>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-6" style="float: right;">
                                        <div class="side-card-video" style="float: right;">
                                            <video id="video1" height="100%" width="100%" autoplay muted></video>
                                            <canvas id="canvas1" width="800" height="680" hidden></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content none" id="quizUploadPDFDiv">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="modal-content card">
                            <div class="card-header card-header-green">
                                    <h5 class="modal-title" id="title">Upload PDF File</h5>
                            </div>
                            <div class="modal-body">
                                <form id="quizUploadPDFForm" method="POST" enctype="multipart/form-data" action="<%= quizId + '/uploadPDF' %>" class="form-inline" method="POST">
                                    <input type="hidden" name="course_id" id="course_id" class="form-control" required>
                                    <h4>Upload PDF file in the form rollNumber.pdf (eg. IIT2000100.pdf)</h4>
                                    <p>1. Total time left to scan and upload your PDF is shown in the top bar.</p>
                                    <p style="padding-bottom: 10px">2. Maximum file size allowed for upload is<strong> 15MB</strong></p>
                                    <input type="file" accept="application/pdf" class="" name="pdfFile" required/><br><br>
                                    <input id="subId" name="submissionId" value="<%= submission._id %>" hidden/>
                                    <span class="start timer">
                                        <button type="button" class="btn btn-primary" id="cancelUpload" onclick="cancelUploadPDF()">Cancel</button>
                                    </span>
                                    <span class="pull-right start timer">
                                        <button type="button" class="btn btn-primary pull-right" onclick="uploadPDFButton()">Upload PDF</button>
                                        <a href="<%= quizId + '/downloadSubmission/' + submission._id %>" style="margin-right: 10px;" type="button" class="btn btn-primary pull-right">Download Submission</a>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable-centered modal-lg" role="document">
                  <div class="modal-content card">
                    <div class="card-header card-header-green">
                      <h4 class="modal-title" style="font-size: 1.5rem;"><b>Instructions</b></h4>
                      <hr>
                      <h5 style="float: right; font-size: 1rem;">Please follow the given instructions</h5>
                    </div>
                    <div class="modal-body">
                        <p style="padding-bottom: 10px">1. Please Wait 1-2 minutes (depending upon your internet connection and system hardware capabilities) as it may take time to load the models.</p>
                        <p style="padding-bottom: 10px">2. You have to allow both Camera and Microphone to continue to give the test.</p>
                        <p style="padding-bottom: 10px">3. You have to share your entire screen and enable the <b>"share system audio"</b> checkbox.</p>
                        <p style="padding-bottom: 10px">4. Do not change Tab or Browser while giving the test.</p>
                        <p style="padding-bottom: 10px">5. Do not speak or leave your seat while giving the test.</p>
                        <p style="padding-bottom: 10px">6. Do not copy paste answers from your friends or any other publicly available sources.</p>
                        <p style="padding-bottom: 10px">7. Do not use Mobile phones.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
</body>
<script>
    const ROOM_ID = "<%= submission._id %>";
</script>
<script defer src="/face-api.js"></script>
<script defer src="/Common/js/peerjs.min.js"></script>
<script defer src="/Common/js/popper.min.js"></script>
<script defer src="/Common/js/socket.io.min.js"></script>
<script defer src="/Common/axios.min.js"></script>
<script defer src="/Quiz/js/tf.js"></script>
<script defer src="/Quiz/js/coco-ssd"></script>
<script defer src="/Common/js/jquery.js"></script>
<script defer src="/Quiz/js/core/popper.min.js"></script>
<script defer src="/Quiz/js/core/bootstrap-material-design.min.js"></script>
<script defer src="/Common/js/bootstrap5.1.3.min.js"></script>
<script defer src="/Quiz/js/script.js"></script>
</html>